.stand {
  overflow-x: hidden;
  overflow-y: hidden;
  
}
.first_part
{
  background: url('back.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
 

}
.photo_part {
  overflow-x: hidden;
  overflow-y:hidden ;

}
.stand {
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1220px) {
  .wrapper {
    grid-template-columns: 1fr;
    align-items: center;

  }
  .photo_part {
    margin-bottom: 30px;
  }
  
}
@media screen and (max-width: 600px) {
  .photo_part {
    display: none;
  }
  
}
.landing {
  margin-bottom: -70px;
}
.filiere {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}