
.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card {
	position: sticky;
	top: 0;
	
  
  margin: 50px;
  margin-top: 30px;
  width: 90%;
  left: 100%;
  max-width: 36.6rem;

}
.control {
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #004059;
  padding: 0.5rem;
 
  width: 100%;

}
.form {
  padding: 0rem;
}
.title {
  margin-bottom: -70px;
  margin-left: 10px;
  margin-top: -20px;
}

.center {
  position: relative;
  padding: 0 50px 20px 50px;
  background: #ffffff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  text-align: center;
  padding: 5px;
  color: #004059;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  padding-left: 10px;
}
.center p {
  font-size: 0.7em;
  color: #a39d9d;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-weight: lighter;
  margin-left: 10px;
  text-align: center;
}
