
.menu_container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  display: grid;
  align-items: center;
  top:0;
  left: 0;
  transition: 0.3s ease-in-out;
  
  
}

.menu {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(6,80px);
  text-align: center;
}

@media screen and (max-width:480px) {
  .menu {
    grid-template-rows: repeat(6,60px);
  }
  
}

.icon {
  color: #fff;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}
.icon:hover {
  color:#00C1C1;
}

.menu_wrapper {
  color:#ffff;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color:#fff;
  cursor: pointer;
}

.link:hover {
  color:#00C1C1;
  transition: 0.2s ease-in-out;
} 
