.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('Hackathon.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200vh;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 1;
    
    
  }
  .image{
    height: 100%;
    width: 100%;
  }
  .landing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .landing h1{
      text-align: center;
      color: var(--primary-color);
      font-size: 60px;
      margin-bottom: 30px;
      
  }

  @media screen and (max-width:630px) {
    .landing h1 {
      font-size: 40px;
    }
    
  }
  
  @media screen and (max-width:580px) {
    .landing {
      
      margin-bottom: 160px;
    }
    .landing h1 {
      font-size: 30px;

    }
  
    .header {
      margin-bottom: -130px;
    }
    
  }
  