.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('back.jpg');
  background-size: cover;
  height: 200px;
  padding: 80px;
  margin-bottom: 50px;
  overflow-y: hidden;

}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}
.count {

  font-size: 3rem;
  font-weight: 600;

  

}
