
.hero {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;


}
.subtitle {
  color:var(--white-color);
  font-size: 1.2rem;
  letter-spacing: 5px;
  margin-bottom: 30px;

}
.title {
  color:#fff;
  font-size: 62px;
  font-weight: 600;
  line-height: 64px;
  overflow-y: hidden;
  margin-bottom: 20px;

}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.btn {
  
  margin: 20px 50px 20px 50px;
}

.second {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.second h2 {
  color:var(--white-color);
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 1.2rem;
}

.section img {
  width: 150px;
  height: 150px;
}
.second img {
  width: 150px;
  height: 150px;
}
@media screen and (max-width:987px) {
  .title {
    font-size: 48px;
  }
  
}
@media screen and (max-width:920px) {
  .btns {
    flex-direction: column;

  }
  .section {
    margin-top: 0;
  }
  
  
}
@media screen and (max-width:535px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size:15px ;
  }
  
}