.profil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
   
    cursor: pointer;
    background-color: #ffff;
    background-size: cover;
    transition: 1s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
   
  
  }
  .img {
    width: 100%;
    transition: 0.4s ease-in-out;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    cursor: pointer;
    margin: 0px;
    color: var(--white-color);
    
    transition: 1s ease-in;
   opacity: 0;
    position: absolute;
  }
  
  
  .profil:hover .icon{
   opacity: 0.5;
  }
  .profil:hover .img{
  transform: scale(1.099);
  }
  
  