.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin: 20px;
  color:#fff;
  width: 50px;
}
.title {
  margin-left: 15px;
  color:#fff;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 42px;
}