* {
  overflow-x: hidden;
 }
.first_part
{
  background: url('back.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow-x: hidden;


  
}
.cards {
  align-items: center;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(15rem,20rem)) ;
  grid-gap: 2rem;
  justify-content: center;
  
  margin: 1rem;
  margin-top: -50px;
  overflow-x: unset;
  
 
}
.card {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.card h2 {
  font-size: 1.5rem;
  color:var(--primary-color);
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 10px;



}
.card h4 {
  font-size: 1rem;
  color:var(--secondary-color);
  font-weight: 500;

}