.slider {
  background:url('jei.jpg');
  background-repeat: no-repeat;
  height: 480px;
  overflow-y: hidden;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.button {
  margin-top: 50px;
  
}