.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('jei.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 78vh;
  
}
