.navbar
{
  display: flex;
  background: transparent;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  width: 100%;
  top: 0;
  align-items: center;
  height: 130px;
  z-index: 1;
  overflow-x: hidden;
 

}

.navbar_active
{
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  background-color: var(--primary-color);
  width: 100%;
  align-items: center;
  height: 130px;
  position: fixed;
  z-index: 999;
  transition: all 0.2s ease-in;
  transform: translateY();


}




.logo {
  position: relative;
  width: 280px;
  height: 68px;
 

}
.links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links li {
  margin: 18px;
  font-size: 1rem;
  color:#fff;
  font-weight: 600;
  font-family: inherit;
}
.link {
  margin: 15px;
  font-size: 1rem;
  color:#fff;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
}
.menu {
  margin: 15px;
  color:#fff;
  font-weight: 600;
  display: none;
  

}
.responsive_menu {
  transform-origin: left;
  transition: all 2s ease;
}
@media screen and (max-width: 1234px) {
  .links {
    display: none;
  }
  .menu {
    display: block;
    cursor: pointer;
    
  }
  
  
}
@media screen and (max-width: 600px) {

  .logo {
    
    width: 220px;
    height: 58px;
   
  
  }
  .navbar {
    padding: 10px;
  }
  
  
}
@media screen and (max-width: 440px) {
  .logo {
    
    width: 220px;
    height: 58px;
   
  
  }
  .navbar {
    padding: 0;
  }
  
}
@media screen and (max-width: 392px) {
  .logo {
    
    width: 190px;
    height: 40px;
    
   
  
  }
  
}

