.faq {
 
}

.first_part
{
  background: url('back.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow-x: hidden;
  overflow-y:hidden ;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.box
{
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width:950px) {
  .box{
    flex-direction: column;
  }
}