.first_part
{
  background: url('back.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px;
  
  
}
.box
{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}
.qts {
  display: flex;
  flex-direction: column;
}