.first_part
{
  background: url('back.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  
}
.box
{
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width:900px) {
  .box{
    flex-direction: column;
  }
}